@import "./materialIcons";
@import "./animate.min";
@import "./font-awesome.min";
@font-face {
    font-family: 'SF NS Display';
    src: url('../fonts/sfns-system-san-francisco-display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF NS Text';
    src: url('../fonts/SanFranciscoText-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Baskerville';
    src: url('../fonts/baskvl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.SFNS-Display,
.legend {
    font-family: 'SF NS Display';
}

.color-gray {
    color: #9FA3A7;
}

.color-gray.light {
    color: #949494;
}

.color-gray.lighter {
    color: #9FA3A7;
}

.FAQ {
    letter-spacing: 0;
    line-height: 35px;
}

h4 {
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0;
    margin: 25px 0;

}

h5 {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 35px;
}

h6 {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 22px;
}

.profiles {
    padding: 35px 0 !important;

}

.profiles > div:nth-last-of-type(1) {
    margin-top: 30px;

}

.profiles h4 {
    margin-bottom: 25px;
    margin-top: 0;
}

.profile:nth-of-type(1) {
    padding-left: 0 !important;
}

.profile div:nth-of-type(1) {
    padding: 18px 0 !important;
}

.profile .info {
    padding: 26px 0 !important;
    margin-bottom: 35px;
}

.profile:nth-of-type(1) .info {
    border-top: 2px solid #FCC60A;
    border-bottom: 2px solid #FCC60A;
}

.profile .info .title {
    padding-bottom: 14px;
    display: inline-block;
}

.box-title {
    color: #114683;
    font-family: 'SF NS Display';
    font-size: 36px;
    letter-spacing: 0;
    display: inline-block;
    padding: 62px 20px;
    margin-bottom: 35px;
    border-top: 2px solid #FCC60A;
    border-bottom: 2px solid #FCC60A;
}

.box-title .border {
    margin-top: 60px;
    width: 146px;
    border-bottom: 5px solid #FCC60A;
    margin-left: auto;
    margin-right: auto;
}

.box-title.bigger {
    font-size: 48px;
}

.box-title.no-border {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.background-primary {
    background: #434350;
    color: #fff;
}

.background-primary .box-title {
    color: #fff;
}

.background-primary-70 {
    background: rgba(67, 67, 80, 0.7);
    color: #fff;
}

.background-primary-70 .background-primary-70 {
    background: inherit;
}

.p15 {
    padding: 15px !important;
}

.p100 {
    padding: 0 100px;
}

.full-w {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.footer-copyright hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #979797;
    margin: 1em 0;
    padding: 0;

}

.toTheTop {
    background: #DCD4B2;
    padding: 20px 0;
    font-size: 17px;
    color: #434350;
    margin-top: -7px;
    text-align: center;
}

.toTheTop:hover {
    cursor: pointer;
}

.toTheTop span {
    margin-left: 10px;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.m-b-n {
    margin-bottom: 0;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.valign-middle {
    vertical-align: middle;
}
/*pass window height (w/o scroll bars) down to react app, note can't use vh becasue that
  includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
body,
html {
    font-family: "SF NS Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    /*box-sizing: inherit;*/
    /*font: inherit;*/
    /*text-decoration: inherit;
    text-align: inherit;*/
}

button,
input,
optgroup,
select,
textarea {
    font-family: "SF NS Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.full-h,
body,
html {
    height: 100%;
}

.black-text,
body,
html {
    color: #333 !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eaeaea;
    margin: 1em 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a.black-text:hover {
    color: #228ee4 !important;
}

nav {
    z-index: 99999;
    // background: -webkit-linear-gradient(bottom, rgba(255,0,0,0), rgba(67, 67, 80, 0.7));
    // background: -o-linear-gradient(top, rgba(255,0,0,0), rgba(67, 67, 80, 0.7));
    // background: -moz-linear-gradient(top, rgba(255,0,0,0), rgba(67, 67, 80, 0.7));
    // background: linear-gradient(to top, rgba(255,0,0,0), rgba(67, 67, 80, 0.7));
    background: transparent;
    box-shadow: none;
    -webkit-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

nav ul a:hover {
    background-color: transparent;
}

nav ul a.active {
    box-shadow: 0 -4px 0 0 #FCC60A inset;
}

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    height: 64px;
    line-height: 66px;
    margin-right: 10px;
}

nav .button-collapse {
    float: right;
}

.side-nav {
    width: 100%;
    background-color: #F0F0F0;
    height: inherit;
    padding-bottom: 0;
    top: 64px;
    box-shadow: none;
}

.side-nav li > a {
    font-size: 12px;
    height: 52px;
    border-bottom: 1px solid rgba(67, 67, 80, 0.3);
    line-height: 52px;
    margin: 0 15px;
    padding: 0;
    text-align: center;
}

.side-nav li,
.side-nav li > a {
    transition: none;
}

.side-nav li > a:hover,
.side-nav li:hover {
    background-color: #494949;
    color: #fff;
}

#sidenav-overlay {
    // left: 300px;
    // z-index:
}
@media only screen and (max-width: 601px) {
    // nav {
    //     padding: 0 !important;
    // }

    .p40s {
        padding: 0 50px;
    }
}
@media only screen and (min-width: 601px) {
    .valign-wrapper-m {
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: inherit;
        transform: inherit;
    }
}

.brand-logo,
nav .brand-logo,
nav a,
nav ul a {
    color: #fff;
}

nav ul a {
    font-size: 12px;
    letter-spacing: 2.4px;
}

.brand-logo,
nav .brand-logo {
    text-transform: capitalize;
    font-family: 'Baskerville';
    font-size: 20px;
    line-height: 20px;
    margin-top: 12px;
}

.brand-logo span,
nav .brand-logo span {
    display: inline-flex;
}

.brand-logo span span,
nav .brand-logo span span {
    margin-left: 10px;
}

nav .brand-logo > div > span {
    position: relative;
    display: block;
}

footer.page-footer.small {
    padding: 0;
}

footer.page-footer.small > .container {
    display: none;
}

section {
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

section > div {
    margin-bottom: 127px;
}

#push {
    position: relative;
    height: 100%;
    margin-top: -64px;
}

#main {
    background-color: white;
    position: relative;
    // z-index: 990;
}

#content > div > div {
    padding: 90px 0 0;
}

.carousel .slider-wrapper,
.carousel .slider-wrapper.axis-horizontal .slider {
    height: 100% !important;
}

.carousel.carousel-slider {
    top: initial;
    left: initial;
    height: 84vh;
}

.slick-slider {
    margin-bottom: 46px;
    margin-top: 50px;
}

.slick-list {

    margin-bottom: 50px;
}

.slick-dots {
    position: initial;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button:before {
    color: #9FA3A7;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #FCC60A;
    font-size: 10px;
    opacity: 1;
}

#home {
    padding-top: 0 !important;
}

#contact {
    padding-bottom: 0 !important;
}

.contactForm {
    width: 105.5%;
    border-radius: 0;
    margin-left: -10px;
    padding: 40px 20px;
    background-color: #f0f0f0;
    margin-bottom: 80px;
}

.contactForm .title {
    padding-bottom: 15px;
    font-size: 14px;
    color: #434350;
    letter-spacing: 2.8px;
}

.contactForm button {
    font-size: 16px;
    font-family: "SF NS Text";
    font: icon;
    box-shadow: none;
    background-color: #114683;
    border-radius: 100px;
    height: 42px;
    letter-spacing: 0;
}

@media only screen and (min-width: 601px) {
    .contactForm {
        padding: 40px 80px;
        border-radius: 5px;
    }
}

.legend {
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
    transition: initial;
    display: block;
    position: absolute;
    top: 48vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 75%;
    border-radius: 0;
    background: rgba(0, 0, 0, .47);
    color: #fff;
    font-size: 160%;
    text-align: center;
    opacity: 1;
}
@media only screen and (min-width: 993px) {
    .legend {
        position: absolute;
        /* width: 60%; */
        height: auto;
        top: 48vh;
        bottom: inherit;
        left: initial;
        right: 0;
        padding: 10px 160px 10px 20px;
        font-size: 38px;
    }
}

.btn-flat.disabled,
.btn-flat:disabled,
.btn-flat[disabled],
.btn-floating.disabled,
.btn-floating:disabled,
.btn-floating[disabled],
.btn-large.disabled,
.btn-large:disabled,
.btn-large:disabled,
.btn-large[disabled],
.btn.disabled,
.btn:disabled,
.btn[disabled],
.disabled.btn-large,
[disabled].btn-large {
    background-color: #9B9B9B !important;
    color: #fff!important;
}

.btn-large:hover,
.contactForm .btn:hover {
    box-shadow: none;
    background-color: #6A89A7;
}

.input-field label:not(.label-icon).active {

    width: 100%;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=date].invalid + label:after,
input[type=date]:focus.invalid + label:after,
input[type=datetime-local].invalid + label:after,
input[type=datetime-local]:focus.invalid + label:after,
input[type=datetime].invalid + label:after,
input[type=datetime]:focus.invalid + label:after,
input[type=email].invalid + label:after,
input[type=email]:focus.invalid + label:after,
input[type=number].invalid + label:after,
input[type=number]:focus.invalid + label:after,
input[type=password].invalid + label:after,
input[type=password]:focus.invalid + label:after,
input[type=search].invalid + label:after,
input[type=search]:focus.invalid + label:after,
input[type=tel].invalid + label:after,
input[type=tel]:focus.invalid + label:after,
input[type=text].invalid + label:after,
input[type=text]:focus.invalid + label:after,
input[type=time].invalid + label:after,
input[type=time]:focus.invalid + label:after,
input[type=url].invalid + label:after,
input[type=url]:focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
    color: #D0011B;
}

input:not([type]).invalid,
input:not([type]):focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=datetime].invalid,
input[type=datetime]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #D0011B !important;
    box-shadow: 0 1px 0 0 #D0011B !important;
}

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea.materialize-textarea {
    color: #434350;
}

input:not([type]):focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #114683;
    box-shadow: 0 1px 0 0 #114683;
}

input:not([type]):focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #114683;
}

.card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    z-index: 1;
}

.card::after {
    z-index: 1;
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover::after {
    opacity: 1;
}

#projects li {
    opacity: 0;
}

#root,
#root > div {
    /*background-color: #F0F0F0;*/
    height: 100%;
}

.margin-left-18 {
    margin-left: 18px;
}
/* For the animated blinking cursor. */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

span.badge.blue {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #228ee4;
    border-radius: 2px;
}
