@import "./materialIcons";
@import "./animate.min";
@import "./font-awesome.min";
@font-face {
    font-family: 'SF NS Display';
    src: url('../fonts/sfns-system-san-francisco-display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF NS Text';
    src: url('../fonts/SanFranciscoText-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Baskerville';
    src: url('../fonts/baskvl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.SFNS-Display {
    font-family: 'SF NS Display';
}

.color-gray {
    color: #9FA3A7;
}

.FAQ {
    letter-spacing: 0;
    line-height: 35px;
}

h5 {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 35px;
}

.box-title {
    color: #114683;
    font-family: 'SF NS Display';
    font-size: 36px;
    letter-spacing: 0;
    display: inline-block;
    padding: 62px 20px;
    margin-bottom: 35px;
    border-top: 2px solid #FCC60A;
    border-bottom: 2px solid #FCC60A;
}

.box-title.bigger {
    font-size: 48px;
}

.box-title.no-top {
    padding-top: 0;
    padding-bottom: 60px;
    border-top: 0;
    border-bottom: 5px solid #FCC60A;

}

.background-primary {
    background: #434350;
    color: #fff;
}

.background-primary .box-title {
    color: #fff;
}

.background-primary-70 {
    background: rgba(67, 67, 80, 0.7);
    color: #fff;
}

.background-primary-70 .background-primary-70 {
    background: inherit;
}

.p100 {
    padding: 0 100px;
}

.full-w {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.m-b-n {
    margin-bottom: 0;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.valign-middle {
    vertical-align: middle;
}
/*pass window height (w/o scroll bars) down to react app, note can't use vh becasue that
  includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
body,
html {
    font-family: "SF NS Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    /*box-sizing: inherit;*/
    /*font: inherit;*/
    /*text-decoration: inherit;
    text-align: inherit;*/
}

button,
input,
optgroup,
select,
textarea {
    font-family: "SF NS Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.full-h,
body,
html {
    height: 100%;
}

.black-text,
body,
html {
    color: #333 !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eaeaea;
    margin: 1em 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a.black-text:hover {
    color: #228ee4 !important;
}

nav {
    z-index: 99999;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

#sidenav-overlay {
    // left: 300px;
    // z-index:
}
@media only screen and (max-width: 601px) {
    nav {
        padding: 0 !important;
    }

    .p40s {
        padding: 0 50px;
    }
}
/*@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        line-height: 63px;
    }
}*/
@media only screen and (min-width: 601px) {
    .valign-wrapper-m {
        display: flex;
        align-items: center;
    }
}

nav .brand-logo,
nav a,
nav ul a {
    color: #fff;
}

nav ul a {
    font-size: 12px;
    letter-spacing: 2.4px;
}

nav .brand-logo {
    text-transform: capitalize;
    font-family: 'Baskerville';
    font-size: 20px;
    line-height: 20px;
    margin-top: 12px;
}

nav .brand-logo span {
    display: inline-flex;
}

nav .brand-logo span span {
    margin-left: 10px;
}

nav .brand-logo > div > span {
    position: relative;
    display: block;
}

footer.page-footer.small {
    padding: 0;
}

footer.page-footer.small > .container {
    display: none;
}

section {
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

section > div {
    margin-bottom: 127px;
}

#push {
    position: relative;
    height: 100%;
    margin-top: -64px;
}

#main {
    background-color: white;
    position: relative;
    // z-index: 990;
}

#content > div > div {
    padding: 90px 0 0;
}

.carousel.carousel-slider {
    top: initial;
    left: initial;
    height: initial;
}

.carousel .slide .legend {
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
    transition: initial;
    position: absolute;
    bottom: 80px;
    left: initial;
    right: 0;
    margin-left: initial;
    width: 60%;
    border-radius: 0;
    background: rgba(0, 0, 0, .47);
    color: #fff;
    padding: 10px 160px 10px 20px;
    font-size: 40px;
    text-align: center;
    opacity: 1;
}

#home {
    padding-top: 0 !important;
}

#contact {
    padding-bottom: 0 !important;
}

.contactForm {
    width: 105.5%;
    border-radius: 0;
    margin-left: -10px;
    padding: 40px 20px;
    background-color: #f0f0f0;
    margin-bottom: 80px;
}

@media only screen and (min-width: 601px) {
    .contactForm {
        padding: 40px 80px;
        border-radius: 5px;
    }
}

.contactForm .title {
    padding-bottom: 15px;
    font-size: 14px;
    color: #434350;
    letter-spacing: 2.8px;
}

.contactForm button {
    font-size: 16px;
    font: icon;
    box-shadow: none;
    background-color: #114683;
    border-radius: 100px;
    height: 42px;
    letter-spacing: 0;
}

.btn-flat.disabled,
.btn-flat:disabled,
.btn-flat[disabled],
.btn-floating.disabled,
.btn-floating:disabled,
.btn-floating[disabled],
.btn-large.disabled,
.btn-large:disabled,
.btn-large:disabled,
.btn-large[disabled],
.btn.disabled,
.btn:disabled,
.btn[disabled],
.disabled.btn-large,
[disabled].btn-large {
    background-color: #9B9B9B !important;
    color: #fff!important;
}

.btn-large:hover,
.contactForm .btn:hover {
    box-shadow: none;
    background-color: #6A89A7;
}

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea.materialize-textarea {
    color: #434350;
}

input:not([type]):focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #114683;
    box-shadow: 0 1px 0 0 #114683;
}

input:not([type]):focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #114683;
}

.card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    z-index: 1;
}

.card::after {
    z-index: 1;
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover::after {
    opacity: 1;
}

#projects li {
    opacity: 0;
}

#root,
#root > div {
    /*background-color: #F0F0F0;*/
    height: 100%;
}

.margin-left-18 {
    margin-left: 18px;
}
/* For the animated blinking cursor. */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

span.badge.blue {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #228ee4;
    border-radius: 2px;
}
